@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-mint-green text-eerie-black;
}
  
  @media (prefers-color-scheme: dark) {
    :root {
      @apply bg-eerie-black text-mint-green
    }
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }

  .btn {
    @apply box-border rounded px-2 py-1 hover:text-eerie-black hover:bg-mint-green-200
  }

  .primary-btn {
    @apply btn bg-neon-blue transition;
  }

  .secondary-btn {
    @apply btn border hover:border-mint-green-200 transition;
  }